 body {
margin: 0;
            font-family: Arial, sans-serif;
            background-color: #eaf4ff;
            color: #222;
        }

        /* Cabeçalho */
        header {
            background-color: #0066cc;
            color: white;
            text-align: center;
            padding: 25px;
        }

        header h1 {
            margin: 0;
        }

        header p {
            margin-bottom: 0;
        }

        /* Área dos jogos */
        .catalogo {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 30px;
        }

        /* Cartão de cada jogo */
        .jogo {
            background-color: white;
            width: 250px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 3px 10px #999;
        }

        .jogo h2 {
            color: #0066cc;
        }

        .nota {
            color: #ff9800;
            font-size: 20px;
        }

        .categoria {
            background-color: #0066cc;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
        }

        /* Rodapé */
        footer {
            background-color: #0066cc;
            color: white;
            text-align: center;
            padding: 15px;
        }